body {
  background-color: aqua;
}
h1 {
  color: gray;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: black solid;
}
.red{
  font-size: 15px;
  font-style: italic;
  margin: 40px;
  border: 5px solid red;
  color: grey;
}

